<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<header class="header">
	<div class="container">
		<nav class="nav">
			<a class="nav-item nav-link active" routerLink="/products">Продукты</a>
			<a class="nav-item nav-link" routerLink="/cart">
				Корзина
				<span class="badge badge-primary" *ngIf="orderCount">{{ orderCount }}</span>
			</a>
		</nav>
	</div>
</header>

<main class="main">
	<router-outlet></router-outlet>
</main>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5>Подвал</h5>
			</div>
		</div>
	</div>
</footer>