<div class="products">
  <div class="container">
    <div class="row no-gutters">

      <div class="col-12">
        <h1 class="mb-3">Список продуктов</h1>
      </div>

      <div class="col-md-4" *ngFor="let product of products">
        <div class="card product-item">
          <a routerLink="/products/{{ product.id }}">
            <img class="card-img-top product-img" src="{{ product.images[0] }}" alt="{{ product.name }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/products/{{ product.id }}">{{ product.name }}</a>
            </h5>
            <p class="card-text">Цена: {{ product.price | currency }}</p>
            <button type="button" (click)="addOrder(product)" class="btn btn-primary">Купить</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
